
body {
  margin: 0;
  font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(108deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


